// -------------------------COLOR VARIABLES
$color-dark: #000;
$color-dark--1: #222222;
$color-dark--2: #444444;
$color-dark--3: #333333;
$color-dark--4: #777777;
$color-dark--5: #cbc6cb;
$color-dark--6: #9b9b9b;
$color-dark--light: #4a4b51;

$color-white: #fff;
$color-light--1: #e6e3e3;
$color-light--2: #d6d6d6;

$color-primary: #90ee90;
$color-primary-dark: #5fc35f;
$color-primary-light: #beffd0;

$color-yellow: #ffd700;
$color-yellow--light: #f7f4ae;

$color-top-1: #fc68ff;
$color-top-2: #ff6868;
$color-top-3: #ffba68;
